<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">

<mat-toolbar color="warn"> 
  <mat-toolbar-row>
          <span class="title-center">
      Add your recipe title and description below...
  </span>
    </mat-toolbar-row>
  
    
<mat-toolbar-row>
<button mat-button [routerLink]="['/create']" color="accent">Create Recipe</button>
<button mat-button [routerLink]="['/list']" color="accent">List of Recipes</button>
</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>